@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Båtfolkets vän.</h1>

</div>

<div class="row">
    <div class="col-md-12">
        <h2>Just nu har vi följande rekommendation för dig</h2>
        <div id="activities">
        </div>

    </div>
</div>

@section Scripts
{
 <script type="text/javascript" src="@Url.Content("~/Scripts/status.js")"></script>
}